#register{
    background-color: #E5E5E5;
}
.register_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.register_form{
    background-color: white;
    box-shadow: 5px 10px 8px 10px #888888;
    width: 60%;
    border-radius: 10px;
    padding: 15px;
    
}


.register_form a{
    text-decoration: none;
}
.register_btn{
    display: block;
    border: none;
    width: 200px;
    margin: 0 auto;
    background-color: #251D58;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    border-radius: 30px;
}
.register_btn:hover{
    background-color: black;
    color: white;
}
