.booking_card{
    width: 295px;
    margin: 7px;
    background-color: white;
    box-shadow: 7px 5px 7px 3px gray;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;
}
.booking_card img{
    width: 100px;
}