#footer{
    background-color: #251D58;
    padding: 100px;

}
#footer p, h4, li{
    color: white;
}
#footer .about p{
    display: inline-block;
    max-width: 400px;
}
.footer_container ul{
    margin: 0 ;
    padding: 0;
}
.footer_container ul li{
    margin: 0 ;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media screen and (max-width:768px){
    #footer{
        padding: 20px;
        
    }
    .footer_container{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }
    .box{
        margin-bottom: 20px;
    }
}
